<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% messages.forEach(function(message){ %>
        <li>
          <p><%= message.text %></p>
          <p><%= message.user %></p>
          <p><%= message.added %></p>
        </li>
      <% }); %>
    </ul>
    <p>Click <a href="/new">here</a> if you want to send new messages.</p>
  </body>
</html>
